<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        *{
            text-align: left;
        }
    </style>
    <title>services</title>
</head>
<body>

    {% include 'navbar.html' %}

    
    <div class="about">
        <h1>Services</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore explicabo iure quisquam incidunt. Debitis tenetur doloremque magni nihil enim dolor sit libero maiores error architecto necessitatibus molestias perspiciatis quod adipisci, aspernatur porro vitae dolorem deserunt dolores accusantium. Nam, quod et ducimus commodi consectetur assumenda enim recusandae voluptates hic ipsam deserunt quasi a, dolorum corrupti maiores, perspiciatis temporibus excepturi natus debitis optio eaque nesciunt aut corporis ut. Cupiditate praesentium blanditiis, neque deserunt tempore illo in assumenda laboriosam ducimus ut vitae quasi placeat velit, cum, quisquam veniam quod nesciunt provident ipsum? Molestiae quidem dignissimos ad eligendi recusandae facilis non alias. Nobis, eos?</p>
        <button>Contact me</button>
    </div>
</body>
</html>